@model Mvc4WebRole.Models.RecipeModel

@{
    ViewBag.Title = "Bild Löschen";
}

@Html.Partial("_Title")


<h3>Wollen Sie das Bild wirklich löschen?</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        <button data-icon="delete" type="submit">Löschen</button>
        @Html.ActionLink("Abbrechen", "Details", "Recipe", new { Model.ID }, null)
    </p>
}

@Html.Partial("_Home")

