@using Mvc4WebRole.Models
@model IEnumerable<IGrouping<string,RecipeModel>>

@{
    ViewBag.Title = "Autoren";
}
    
@Html.Partial("_Title")

<ul>

    @foreach ( var item in Model )
    {
        <li>
            @Html.DisplayFor(modelItem => item.Key)
            <ul>
                @foreach ( var recipe in item )
                {
                    <li>@Html.ActionLink(recipe.Name, "Details", "Recipe", new { id = recipe.ID }, new { }) </li>
                }
            </ul>

        </li>
    }

</ul>
    
    
@Html.Partial("_Home")

