@{
    ViewBag.Title = "Impressum";
}

@Html.Partial("_Title")


<div>

    <p>Christopher Braun</p>
    <p>Im Mainfeld 1</p>
    <p>63796 Kahl</p>
    
    <p>Diese Webseite dient ausschliesslich experimentellen Zwecken.</p>
</div>

@Html.Partial("_Home")