@{
    ViewBag.Title = "Kein Zugriff";
}

@Html.Partial("_Title")

<p>
    <b>
        Sie haben Sich registriert aber haben noch keine Zugriffsrechte
    </b>
</p>
<p>
    <b>
        Für eine Änderung Ihrer Zugriffsrechte wenden Sie sich bitte an den Ersteller der Seite.
    </b>
</p>

@Html.Partial("_Home")

