@model IEnumerable<Mvc4WebRole.Models.UserProfile>

@{
    ViewBag.Title = "Anwender";
}

@Html.Partial("_Title")
    

<div data-role="content">
    <p></p>

    <ul>
        @foreach (var userName in Model.Select(m=>m.UserName))
        {
            <li>@userName | @Html.ActionLink("Rollen zuweisen", "AssignRoles", new { userName }) |  @Html.ActionLink("Anwender löschen", "DeleteUser", new { userName }) </li>
        }
    </ul>
</div>

@Html.Partial("_Home")

