@model Exception

@{
    ViewBag.Title = "Fehler";
}

<div>
    @Html.DisplayNameFor(m => m.Message)
    @Html.DisplayFor(m => m.Message)
    @Html.DisplayNameFor(m => m.InnerException)
    @Html.DisplayFor(m => m.InnerException)

</div>


