@model IEnumerable<Mvc4WebRole.ViewModels.RecipeInfo>

@{
    ViewBag.Title = "Rezepte";
}


<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Neues Rezept", "Create")
</p>

 <form class="ui-filterable">
     <input type="search" id="filter-input" title="Suchen">
 </form>


  <ul data-role="listview" data-filter="true" data-input="#filter-input">
     @foreach (var item in Model)
    {
         <li data-icon="grid">@Html.ActionLink(item.Name, "Details", new { id = item.Id }) </li>
    }
   </ul>





