@model Mvc4WebRole.Models.TagModel

@{
    ViewBag.Title = "Details";
}



<h3>@Html.DisplayFor(model => model.Caption) </h3>



<p>Dieses Schlagwort wird verwendet von</p>
<ul>
    @foreach ( var recipe in Model.Recipes )
    {
         <li data-icon="grid" >@Html.ActionLink(recipe.Name, "Details", "Recipe", new { id = recipe.ID }, new object()) </li>
    }
</ul>



<div>
    @Html.ActionLink("Zurück", "Index")
</div>
