<div data-theme="e" data-role="header">
    <h1>@ViewBag.Title</h1>
    <a href="#" data-role="button" data-rel="back" data-icon="arrow-l">Zurück</a>
    <a href="/Recipe/Index" data-role="button" data-icon="home">Übersicht</a>
</div>

